 
body {
    background-color: #f5f5f5;  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

 
h1 {
    text-align: center;
    color: #f2efef;  
    margin-bottom: 30px;
    background-color: #521362;
    border-radius: 5rem;
    font-size: 2.2em;
    font-family: 'Source Code Pro', monospace;
}

header {
    padding: 1.5rem;
}
div {
    background-color: #d4c1c1; 
    border: 1px solid white; 
    border-radius: 10px;  
    padding: 15px;
    margin: 15px auto;
    max-width: 600px;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}
 
h2 {
    color: #064171;  
    font-size: 1.5em;
    margin-bottom: 10px;
     text-decoration: underline;
}
 
h3 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: #c642eb;
  text-align-last: center;
  font-style: oblique;
  border-radius: 4rem;
  display: inline-block; 
  padding: 0.5rem 1rem; 
  margin: 1rem 0;
  
}
 
p,a {
    color:black;  
    font-size: 1em;
    margin: 0;
}

 
div:hover {
    transform: scale(1.02);  
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);  
    transition: transform 0.2s, box-shadow 0.2s;  
}


.navbar {
    position: sticky;
    top: 0;
    background-color:  #781b91;
    width: 100%;
    z-index: 1000;
    padding: 0.5rem 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 10px;
    justify-content: center;
    justify-content: space-between;
  }

 
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0;
    padding: 0;
    
  }
  
  .nav-list li {
    margin: 0;
    color: #ece4dc;
  }
  
  .nav-list a {
    text-decoration: none;
    color: FB5235;
    align-content: center;
    padding: 1rem 1rem;
    transition: background-color 0.3s ease;
  }
  
  .nav-list a:hover {
    transform: scale(1.02);  
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);  
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 5px;
  }
  .content {
    padding: 2rem;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  a.members {
    color: #161718;
    text-decoration: none; 
    transition: color 0.3s ease, text-decoration 0.3s ease;
    font-weight: bold;
}

h2 {
  font-family: 'Montserrat', sans-serif; 
  text-align: center;
  color: #4a4a4a; 
  margin-bottom: 0.5rem; 
}

.members {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
 
}

.members h3 {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none; 
  color: #4a4a4a; 
  display: inline-block; 
  padding: 0.8rem 1.2rem; 
  border-radius: 8px; 
  background-color: #f8f9fa; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease;
  margin-top: 0.5rem; 
}

.members h3:hover {
  background-color: #d238e7; 
  color: #212529; 
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
